h1{text-align: center;}
h1{color: rgb(199, 19, 19);}

h2{text-align: center;}
h2{color: rgb(15, 116, 57);}

#links{text-align: center;}
#links{font-size: medium;}



p{text-align: right;}
p{font-size: small;}


#ima1{width: 25%;}
#ima1{margin-left: 10%;}


#ima2{width: 28%;}


#ima3{width: 28%;}
